h1 {
	font-size: 32px;
  font-family: Garamond;
  margin-bottom: -18px;
     

}

h2 {
	font-size: 18px;
  font-family: Garamond;
    

}

h3 {
	font-size: 16px;
  font-family: Garamond;
   

}



h4 {  

font-size: 16px;
font-family: Garamond;
	
  margin-top: 1px;
  margin-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px
}

.contact {
background-color: #48c9b0;
width: 800px;
}

p {
  padding: 1px; 
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px
  font-family: Garamond;

}

ol {

	  padding: 1px; 
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px
}


li {  padding: 1px; 
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px;
width: 600px;
  }
